<h1></h1>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
    <td><%= @product.pid %></td>
      <td><%= @product.item %></td>
      
    </tr>
    
  </tbody>
</table>